%h1 select chapters
%ul
  - @chapters.each do |chapter|
    %li
      %input{:type => :checkbox, :id => chapter.number}= chapter.number
    
%div
  %input{:type => :button, :id => "download_button",class: :btn, :value => :Download}