%input{:type => "hidden", :id => "current_page"}
%input{:type => "hidden", :id => "show_per_page"}
%table{:class => "table table-hover", :id => "mangas_table"}
  %tbody
    - @mangas.each do |manga|
      %tr
        %td 
          %a{:id => manga.name, :href => "/mangas/#{manga.name}"}= manga.get_human_name

%div{:class => 'pagination'}
  %ul{:class => "page_list"}

